@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}",
        "Ex02 Page 01");

    var message = "";
    var color = "";
    IEnumerable<dynamic> partialstringresults = null;

    var partialstring = Request.Form["partialString"];
    var choice = Request.Form["dropdown"];
    var thebutton = Request.Form["theButton"];
}

@section banner {
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-8 text-left">
            <h3>@Page.Title</h3>
        </div>
    </div>
}

